@model IEnumerable<IPLManagementSystemMVC.Models.CustomerTeamNames>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<style>
    #teamNames{
        font-family:'Colonna MT';
        font-weight:bold;
        color:darkblue
    }
</style>
<!--Body Row-->
<div class="row">
    <div class="col-md-4">
        <div style="margin-top: 10px; background-color:beige ;height: 400px; float: left;">
            <h3 style="font-weight:bold">Click on Teams!</h3>
            <div style="padding:5px;font-size:30px">
                @foreach (var team in Model)
                 {
                    <a href="@Url.Action("Players","CustomerMVC", new { id = team.Id })" id="teamNames">@team.Name</a><br />
                 }
            </div>
        </div>
    </div>
</div>
