
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_HomePageLayout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .nav-item {
            color: azure;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top" style="padding:0px; background-color:darkblue;">
        <a href="#" style="background-color:darkblue"><img style="height:50px; width:60px" src="~/Images/Logos/ipl logo 2.jpeg" /></a>
        <!--For menu items -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a href="#" class="nav-item nav-link">Home</a>
            <a href="#" class="nav-item nav-link">About Us</a>
        </div>
        <!--For Login and Register links -->
        <div class="navbar-nav">
            <a href="@Url.Action("Login","HomePage")" class="nav-item nav-link">Login</a>
            <a href="@Url.Action("Register","HomePage")" class="nav-item nav-link">Register</a>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
