
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_HomePageLayout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .nav-item {
            color: azure;
        }
        .carousel-inner img {
            width: 100%;
            height: 500px;
        }
        #maindiv{
            padding-top:50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top" style="padding:0px; background-color:darkblue;">
        <a href="#" style="background-color:darkblue"><img style="height:50px; width:60px" src="~/Images/Logos/ipl logo 2.jpeg" /></a>
        <!--For hamburger toggler icon -->
        <button type="button" class="navbar-toggler" data-toggle="collapse"
                data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--For menu items -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a href="#" class="nav-item nav-link">Home</a>
            <a href="#" class="nav-item nav-link">Profile</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
        </div>
        <!--For Login and Register links -->
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Login</a>
            <a href="#" class="nav-item nav-link">Register</a>
        </div>
    </nav>

    <!--Carousels-->
    <div class="carousel slide" id="maindiv" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#maindiv" data-slide-to="0" class="active"></li>
            <li data-target="#maindiv" data-slide-to="1"></li>
            <li data-target="#maindiv" data-slide-to="2"></li>
            <li data-target="#maindiv" data-slide-to="3"></li>
            <li data-target="#maindiv" data-slide-to="4"></li>
            <li data-target="#maindiv" data-slide-to="5"></li>
        </ul>
        <!-- Slide Show -->
        <div class="carousel-inner">
            <div class="carousel-item active"><img src="~/Images/Logos/pic1.jpg"></div>
            <div class="carousel-item"><img src="~/Images/Logos/pic2.jpg"></div>
            <div class="carousel-item"><img src="~/Images/Logos/pic3.jpeg"></div>
            <div class="carousel-item"><img src="~/Images/Logos/pic4.jpg"></div>
            <div class="carousel-item"><img src="~/Images/Logos/pic5.jpg"></div>
            <div class="carousel-item"><img src="~/Images/Logos/pic6.jpg"></div>
        </div>
        <!-- left and right arrows-->
        <a class="carousel-control-prev" href="#maindiv" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#maindiv" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    @RenderBody()
</body>
</html>
