<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IPL T20</title>
    <link rel="icon" href="~/Images/Logos/ipl logo 2.jpeg" type="image/image" style="height:16px;width:16px">
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
